@import "tailwindcss";

/* Hide scrollbar for all elements */
* {
  scrollbar-width: none;        /* Firefox */
  -ms-overflow-style: none;     /* IE & Edge */
}

*::-webkit-scrollbar {
  display: none;                /* Chrome, Safari */
}
